.bottom-side {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-family: sans-serif;
    > h2 {
        margin-bottom: 15px;
    }
    > div {
        font-size: 18px;
    }
}
